/* caffe */

.ContenedorNosotros {
    display: block;
    width: 100%;
    height: auto;
}

.NuestroCaffe {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.imgCaffe {
    display: block;
    width: 500px;
    height: auto;
}


.NuestroCaffe p {
    color: rgb(175, 175, 175);
    text-align: auto;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}