/*Header*/

@mixin anclas {
    text-decoration: none;
    color:black
}


.tamLogo {
    width: 150px;
}

header {
    border-bottom: 5px rgba(2, 2, 2, 0.918);
    text-align: center;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    color: aliceblue;
}

li a {
    color: #f7f0f0;
}

a {
    @include anclas;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(245, 244, 241, 0.671);
}