/* Main */

main {
    margin: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
  }

h1,
h2 {
    text-align: center;
    text-decoration: none;
    color: rgba(245, 244, 241, 0.671);
}