* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/
body {
    background-image: url(../IMG/gallery3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
}